.App {
  text-align: center;
}

.app-body {
  text-align: left;
  display: inline-block;
  width: 80%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
}

.search-criteria {
  margin-bottom: 20px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
